<table class="center" *ngIf="!add && !del">
  <caption><h2><b>Employee Details</b></h2></caption>
  <tr>
    <!--th>S.No</th-->
    <th>Id</th>
    <th>Name</th>    
    <th>Gender</th>
    <th>Age</th>
    <th>DOB</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Edit</th>
    <th>Delete</th>


  </tr>
  <tr *ngFor="let emp of service.employees;let i=index">
    <!--td>{{i+1}}</td--->
    <td>{{emp.id}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.Gender}}</td>
    <td>{{emp.Age}}</td>
    <td>{{emp.DOB}}</td>
    <td>{{emp.Email}}</td>
    <td>{{emp.phone}}</td>
    <td><button  (click)="onUpdEmp(emp.id)" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdkQv-KSXzy6iqK4d7DLJT49UnbL29EBGPmA&usqp=CAU"></button></td>
    <td><button (click)="dclick(emp.id)"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRshBj8EAyziKs0b0-tc9gw5DVjk_sVjTv1Gg&usqp=CAU"></button></td>

  </tr>
  <tr>
    <button class="a" (click)="addEmployee()"><b>Add Emp</b></button>
  </tr>
</table>
<div class="form" *ngIf="add">
  <form [formGroup]="reactiveForm">
    <legend id="regform" ><b><h2 class="e">Employee Information</h2></b></legend>
  
    <p *ngIf="createid"><b>Id</b><br><br>
    <input type="text" placeholder="Enter the id..." formControlName="id" required></p>
    <p><b>Name</b></p>
    <input type="text" placeholder=" Enter the name..." formControlName="Name" required>
    <p><b>Email</b></p>
    <input type="email" placeholder="Enter the email id.." formControlName="Email" >
    <p><b>Phone</b></p>
    <input type="text" placeholder=" Enter the phoneno.." formControlName="Phone" >
    <p><b>Gender</b></p>
    <input type="radio" value="Male" formControlName="Gender" class="g" >Male
    <input type="radio" value="FeMale" formControlName="Gender" class="g" >Female

    <p ><b>DOB</b></p>
    <input type="text" placeholder="Enter the DOB.." formControlName="DOB" [formControl]="myFormControlDOB" (input)="calculateage()" required><br><br>
    <p><b>Age</b></p>
    <input type="text" placeholder="Your age.." formControlName="Age" [formControl]="myFormControlAge" readonly><br><br>
    <button *ngIf="!addbutton" class="s" (click)="savemp(reactiveForm.value)"><b>Save</b></button><br>
    <button class="add" (click)="onEmpCreate(reactiveForm.value)" *ngIf="addbutton"><b>Add</b></button><br>
    <br><button class="b" (click)="back()"><b>Back</b></button>

  </form>
</div>
<div class="delete"*ngIf="del">
    <h3>Do you want to delete the employee permanently? </h3>
  <button class="y"  (click)="onDelEmp()"><b>Yes</b></button>  
  <button class="n" (click)="no()"><b>No</b></button>
</div>

<div  class="delete"*ngIf="deleted">
  <button class="b" (click)="back()"><b>Back</b></button>

</div>



